.block{
  display: flex;
  flex-direction: column;
}

.example{
 display: flex;
 align-items: baseline;
 margin-bottom: 10px;
 height: fit-content;
}

.btn{
  margin-right: 10px;
}

.good{
  background: yellowgreen;
}

.bad{
  background: red;
}

p{
  width: fit-content;
  max-width: 550px;
  background: aqua;
  margin-right: 15px;
}

