*{
  padding: 0;
  margin: 0;
  border: none;
}

.block {
  display: flex;
  flex-direction: column;
}

.header{
  background: pink;
  margin-bottom: 15px;
}

.header-title{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.example {
  background-color: aliceblue;
  margin-bottom: 25px;
}

.example-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  width: fit-content;
  margin-bottom: 2px;
}

.example-body {
  display: flex;
  align-items: center;
  height: 30px;
}

.example-noty {
  background-color: aqua;
}

.example-footer{
  background-color: rgb(231, 226, 226);
  padding: 0;
  margin: 0;
}

.btn {
  margin-right: 20px;
  cursor: pointer;
  background: white;
  border: 3px solid blue;
  border-radius: 5px;
}

.good {
  background: yellowgreen;
}

.bad {
  background: red;
}

.warning{
  background-color: yellow;
}

.hand-right{
  margin-right: 10px;
}

.mb15{
  margin-bottom: 15px;
}